
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Your Dashboard</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dash-header">
            <h3>Your projects</h3>
            <button class="btn btn-success">New project</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Modified</th>
                    <th>Owner</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tbl-projects-body"></tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/js/dashboard.js"></script>
}