
@{
    ViewData["Title"] = "Your Dashboard";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Your Dashboard</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dash-header">
            <h3>Your projects</h3>
            <button class="btn btn-success" data-toggle="modal" data-target="#modal-new">New project</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Modified</th>
                    <th>Owner</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tbl-projects-body"></tbody>
        </table>
    </div>
</div>

<div id="modal-new" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New project</h4>
            </div>
            <div class="modal-body">
                <form id="form-new">
                    <div class="form-group">
                        <label for="modal-new-name" class="control-label">Project name</label>
                        <input type="text" class="form-control" name="name" id="modal-new-name" placeholder="My awesome project" />
                        <span class="control-label" id="modal-new-name-message"></span>
                    </div>
                    <span class="control-label has-error error-message" id="modal-new-message"></span>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="modal-new-submit" type="button" class="btn btn-primary">Create</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-rename" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Rename project</h4>
            </div>
            <div class="modal-body">
                <form id="form-rename">
                    <div class="form-group">
                        <label for="modal-rename-name" class="control-label">New name</label>
                        <input type="text" class="form-control" name="name" id="modal-rename-name" placeholder="My awesome project" />
                        <span class="control-label" id="modal-rename-name-message"></span>
                    </div>
                    <span class="control-label has-error error-message" id="modal-rename-message"></span>
                    <input type="hidden" name="projectid" id="modal-rename-id" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="modal-rename-submit" type="button" class="btn btn-primary">Rename</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-delete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete project</h4>
            </div>
            <div class="modal-body">
                <form id="form-delete">
                    <input type="hidden" name="projectid" id="modal-delete-id" />
                </form>
                Are you sure?
                <p class="control-label has-error error-message" id="modal-delete-message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="modal-delete-submit" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts
    {
    <script src="~/js/dashboard.js"></script>
}