<div id="modal-login" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Log in</h4>
            </div>
            <div class="modal-body">
                <form id="form-login">
                    <div class="form-group">
                        <label for="modal-login-username" class="control-label">username</label>
                        <input type="text" class="form-control" name="username" id="modal-login-username" placeholder="Username" />
                    </div>
                    <div class="form-group">
                        <label for="modal-login-password" class="control-label">Password</label>
                        <input type="password" class="form-control" name="password" id="modal-login-password" placeholder="Password" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Log in</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-signup" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sign up</h4>
            </div>
            <div class="modal-body">
                <form id="form-signup">
                    <div class="form-group">
                        <label for="modal-signup-username" class="control-label">New username</label>
                        <input type="text" class="form-control" name="username" id="modal-signup-username" placeholder="Username" />
                    </div>
                    <div class="form-group">
                        <label for="modal-signup-email" class="control-label">Email address</label>
                        <input type="email" class="form-control" name="email" id="modal-signup-email" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <label for="modal-signup-password" class="control-label">New Password</label>
                        <input type="password" class="form-control" name="password" id="modal-signup-password" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <label for="modal-signup-password-confirm" class="control-label">Confirm Password</label>
                        <input type="password" class="form-control" id="modal-signup-password-confirm" placeholder="Password" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="modal-signup-submit" type="button" class="btn btn-primary">Sign up</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->