#left-col {
    background-color: #eee;
    position: fixed;
    left: 0;
    width: 16.66666667%;
    top: 50px;
    bottom: 0;
}

#middle-col {
    background-color: white;
    position: fixed;
    left: 16.66666667%;
    width: 41.66666667%;
    top: 50px;
    bottom: 0;
}

#right-col {
    background-color: white;
    position: fixed;
    left: 58.3333334%;
    width: 41.66666667%;
    top: 50px;
    bottom: 0;
}

#pdf-col {
    position: fixed;
    top: 50px;
    bottom: 250px;
}

#output-col {
    position: fixed;
    height: 250px;
    bottom: 0;
}