#left-col {
    background-color: #eee;
    position: fixed;
    left: 0;
    width: 16.66666667%;
    top: 50px;
    bottom: 0;
    border-right: 1px solid #ccc;
}

#middle-col {
    background-color: white;
    position: fixed;
    left: 16.66666667%;
    width: 41.66666667%;
    top: 50px;
    bottom: 0;
}

#right-col {
    border-left: 1px solid #ccc;
    background-color: white;
    position: fixed;
    left: 58.3333334%;
    width: 41.66666667%;
    top: 50px;
    bottom: 0;
}

#pdf-col {
    position: fixed;
    top: 50px;
    bottom: 250px;
    width: 41.66666667%;
}

#output-col {
    position: fixed;
    height: 250px;
    bottom: 0;
    width: 41.66666667%;
}

#files-header {
    background-color: #ddd;
    border-bottom: 1px solid #ccc;
    padding: 4px 8px;
    font-size: 20px;
}

#editor-header {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 4px 8px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

#editor-header:hover {
    background-color: #e7e7e7;
}

#editor-header:active {
    background-color: #e3e3e3;
}

#editor-message {
    color: #888;
    font-size: 15px;
    padding: 10px 16px;
    display: inline-block;
}

#pdf-header {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
}

    #pdf-header span {
        padding: 4px 8px;
        display: inline-block;
    }

#output-header {
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 4px 8px;
    font-size: 20px;
}

#file-list {
    list-style-type: none;
    padding: 0;
}

#file-list li {
    padding: 5px 7px;
}

#file-list li:hover {
    background-color: #e5e5e5;
}

    #file-list li.selected {
        background-color: #c5c5c5;
    }

#ace-container {
    position: fixed;
    display: none;
    left: 16.66666667%;
    width: 41.66666667%;
    top: 87px;
    bottom: 0;
}

#editor {
    position: fixed;
    left: 16.67%;
    width: 41.66%;
    top: 87px;
    bottom: 0;
}

.action-button {
    float: right;
    border-style: none;
    height: 36px;
    width: 36px;
    background-color: inherit;
}

.action-button:hover {
    background-color: #e5e5e5;
}

    .action-button:active {
        background-color: #c5c5c5;
    }

    .action-button:focus {
        outline:0;
    }

#output {
    position: fixed;
    height: 212px;
    bottom: 0;
    width: 41.66666667%;
    border-style: none;
    background-color: #fdfdfd;
    font-family: monospace;
}

#pdf {
    position: fixed;
    top: 87px;
    bottom: 250px;
    width: 41.66666667%;
}