@{
    ViewData["Title"] = "About CoLatex";
}
<h2>@ViewData["Title"]</h2>

<p>We believe in collaboration online, that's why we chose to create a platform for people to edit Latex documents together.</p>

<h3>Features:</h3>
<ul>
    <li>Works</li>
</ul>
