@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>

<strong>Address:</strong>
<address>
    Lot 1<br />
    Aitken crater<br />
    The Moon<br />
    <abbr title="Phone">P:</abbr>
    07700 900382
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@colatex.com">support@colatex.com</a>
</address>
