@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <h1>Get Started</h1>
        <p>Sign up or log in now</p>
        <p>
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-signup">Sign up</button>
            <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#modal-login">Log in</button>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>Screenshots</h2>
        <img class="screenshot" src="https://framalibre.org/sites/default/files/sharelatex-error.png" alt="Screenshot" />
    </div>
</div>