@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div id="jumb-nouser" class="jumbotron">
        <h1>Get Started</h1>
        <p>Sign up or log in now</p>
        <p>
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-signup">Sign up</button>
            <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#modal-login">Log in</button>
        </p>
    </div>
    <div id="jumb-loggedin" class="jumbotron">
        <h1>Get Started</h1>
        <p>Go to your dashboard</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/dashboard">Dashboard</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>Screenshots</h2>
        <img class="screenshot" src="/images/chrome_2018-11-11_12-09-25.png" alt="Screenshot" />
    </div>
</div>